<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
<div class="container"> 
  <div class="row">
    <div class="col col-xs-11 text-left">
        <h4>Fases</h4> 
    </div>    
    <div class="col col-xs-1 text-right">
      <button type="button" class="btn btn-success"> 
        <i class="fa fa-plus"
        routerLink="/fases/fases/edit/0"></i> 
      </button>
    </div>  
  </div>
  <table class="table table-striped table-bordered table-list">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Prioridade</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    <tbody>          
      <tr *ngFor="let fase of fases">           
        <td>{{fase.nome}}</td>             
        <td>{{fase.prioridade}}</td>  
        <td>
          <a class="btn btn-default" 
            routerLink="/fases/fases/edit/{{fase.id}}">
            <em class="fa fa-pencil"></em>
          </a>
          <a class="btn btn-danger" title="Excluir"
            (click)="deleteFases(fase)">
            <em class="fa fa-trash"></em>
          </a>
        </td>    
      </tr>
    </tbody>
  </table>
</div>
