<div class="container">
  <h4>Grupo Fases</h4>
  <form class="form-horizontal" [formGroup]="grupoFasesPadraoForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="row">
      <div class="col-md-6">
        <label for="nome">Descricao</label>
        <input type="text" class="form-control" formControlName="descricao" id="descricao" placeholder="descricao">
      </div> 
      <div class="col-md-3">
        <label for="nome">Sequencia</label>
        <input type="text" class="form-control" formControlName="sequencia" id="sequencia" placeholder="sequencia">
      </div>  
      <div class="col-md-3">
        <label class="center-block">% Comissão:</label>
        <input class="form-control" formControlName="perc_comissao">
      </div>
    </div> 
    <br>
    <!-- <app-fases-padroes-relacao [idGrupoFases] = "id"></app-fases-padroes-relacao> -->
    <app-fase-padrao-table [idGrupoFases] = "id"></app-fase-padrao-table>
    <br>
    <div class="row">
      <div class="col-md-6">
        <div style="margin-bottom: 1em">
          <button 
          class="btn btn-default"
          (click)="goBack()">Voltar
          </button>
          <button type="submit" 
            class="btn btn-primary"
            [disabled]="grupoFasesPadraoForm.pristine">Salvar
          </button>
        </div>  
      </div>  
    </div>  
  </form>
</div>
