<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>

<!-- <nav class="nav-wrapper" style="background-color: #2c3e50">
    <a class="brand-logo" ng-href="#/" alt="zeta">
      <img [src]="imageZeta" height="25"/>
    </a>
    <div class="dropdown-trigger btn" ngbDropdown #myDrop="ngbDropdown">
        <button class="navbar-toggler" 
            id="dropdownFases" 
            ngbDropdownToggle
            aria-expanded="false">
            <span class="large material-icons"></span>
        </button>
        <div ngbDropdownMenu class="dropdown-trigger btn" aria-labelledby="dropdownFases">
          <a class="dropdown-item" routerLink="/fases/config-grupos/dashboard">Painel</a>
          <a class="dropdown-item" routerLink="/fases/config-fases">Fases</a>
          <a class="dropdown-item"routerLink="/fases/config-grupos">Grupos Fases</a>
        </div>
    </div>
</nav> -->

